In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [51]:
bimtra_df = pd.read_csv('data/bimtra_df.csv')
esperas_df = pd.read_csv('data/esperas_df.csv')
metaf_df = pd.read_csv('data/metaf_df.csv')
metar_df = pd.read_csv('data/metar_df.csv')
satelite_df = pd.read_csv('data/satelite_df.csv')
tc_prev_df = pd.read_csv('data/tc-prev_df.csv')
tc_real_df = pd.read_csv('data/tc-real_df.csv')

In [52]:
satelite_df.data = pd.to_datetime(satelite_df.data)

In [53]:
bimtra_df.dt_arr = bimtra_df.dt_arr.apply(lambda x: datetime.datetime.utcfromtimestamp(int(x)/1000))
bimtra_df.dt_dep = bimtra_df.dt_dep.apply(lambda x: datetime.datetime.utcfromtimestamp(int(x)/1000))
esperas_df.hora = esperas_df.hora.apply(lambda x: datetime.datetime.utcfromtimestamp(int(x)/1000))
metaf_df.hora = metaf_df.hora.apply(lambda x: datetime.datetime.utcfromtimestamp(int(x)/1000))
metar_df.hora = metar_df.hora.apply(lambda x: datetime.datetime.utcfromtimestamp(int(x)/1000))
tc_prev_df.hora = tc_prev_df.hora.apply(lambda x: datetime.datetime.utcfromtimestamp(int(x)/1000))
tc_real_df.hora = tc_real_df.hora.apply(lambda x: datetime.datetime.utcfromtimestamp(int(x)/1000))

In [56]:
display(bimtra_df.head(5))
display(esperas_df.head(5))
display(metaf_df.head(5))
display(metar_df.head(5))
display(tc_prev_df.head(5))
display(tc_real_df.head(5))

,flightid,origem,destino,dt_dep,dt_arr
0,fcb2bf90345705318213ae1307c0f901,SBKP,SBRJ,2022-06-01 00:44:57,2022-06-01 01:26:00
1,c7c5c10716335b048f86d8c52fcba3f2,SBGR,SBRJ,2022-06-01 00:57:01,2022-06-01 01:32:53
2,3162de7203a972f071d5a48e8f0f4828,SBBR,SBRJ,2022-06-01 00:26:52,2022-06-01 01:43:45
3,8fcd243e9b9eebbe62ab145ce04b6ab5,SBKP,SBCF,2022-06-01 00:58:40,2022-06-01 01:41:41
4,504a62621cd231d6ab67e674ce538cd3,SBCF,SBFL,2022-06-01 01:00:38,2022-06-01 02:33:05

   esperas                hora  aero
0        0 2022-06-01 00:00:00  SBBR
1        0 2022-06-01 01:00:00  SBBR
2        0 2022-06-01 02:00:00  SBBR
3        0 2022-06-01 03:00:00  SBBR
4        0 2022-06-01 04:00:00  SBBR

                 hora                                             metaf  aero
0 2022-08-05 00:00:00   METAF SBBR 050000Z 05006KT CAVOK 18/04 Q1014=\n  SBBR
1 2022-08-05 01:00:00   METAF SBBR 050100Z 01006KT CAVOK 17/05 Q1016=\n  SBBR
2 2022-08-05 02:00:00  METAF SBBR 050200Z  35008KT CAVOK 17/05 Q1014=\n  SBBR
3 2022-08-05 03:00:00  METAF SBBR 050300Z  34007KT CAVOK 16/05 Q1015=\n  SBBR
4 2022-08-05 04:00:00  METAF SBBR 050400Z  34008KT CAVOK 16/05 Q1015=\n  SBBR

                 hora                                          metar  aero
0 2022-06-01 00:00:00  METAR SBBR 010000Z 07002KT CAVOK 21/08 Q1018=  SBBR
1 2022-06-01 01:00:00  METAR SBBR 010100Z 10002KT CAVOK 20/09 Q1019=  SBBR
2 2022-06-01 02:00:00  METAR SBBR 010200Z 00000KT CAVOK 16/09 Q1019=  SBBR
3 2022-06-01 03:00:00  METAR SBBR 010300Z 27002KT CAVOK 16/09 Q1019=  SBBR
4 2022-06-01 04:00:00  METAR SBBR 010400Z 00000KT CAVOK 14/09 Q1018=  SBBR

                 hora  troca aero
0 2022-06-01 00:00:00      0   BR
1 2022-06-01 01:00:00      0   BR
2 2022-06-01 02:00:00      0   BR
3 2022-06-01 03:00:00      0   BR
4 2022-06-01 04:00:00      0   BR

                 hora nova_cabeceira antiga_cabeceira aero
0 2022-06-01 14:14:03             32               03   FL
1 2022-06-01 18:51:10             18               12   RF
2 2022-06-01 19:12:25             16               13   CF
3 2022-06-01 19:12:38             15               26   GL
4 2022-06-01 19:12:57             15               26   GL