In [76]:
%pip install python-metar

Requirement already satisfied: python-metar in /Users/tommygoto/opt/anaconda3/lib/python3.9/site-packages (1.4.0)
Note: you may need to restart the kernel to use updated packages.

In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from metar import Metar

In [78]:
bimtra_df = pd.read_csv('data/bimtra_df.csv')
esperas_df = pd.read_csv('data/esperas_df.csv')
metaf_df = pd.read_csv('data/metaf_df.csv')
metar_df = pd.read_csv('data/metar_df.csv')
tc_prev_df = pd.read_csv('data/tc-prev_df.csv')
tc_real_df = pd.read_csv('data/tc-real_df.csv')

In [79]:
bimtra_df.dt_arr = bimtra_df.dt_arr.apply(lambda x: datetime.datetime.utcfromtimestamp(int(x)/1000))
bimtra_df.dt_dep = bimtra_df.dt_dep.apply(lambda x: datetime.datetime.utcfromtimestamp(int(x)/1000))
esperas_df.hora = esperas_df.hora.apply(lambda x: datetime.datetime.utcfromtimestamp(int(x)/1000))
metaf_df.hora = metaf_df.hora.apply(lambda x: datetime.datetime.utcfromtimestamp(int(x)/1000))
metar_df.hora = metar_df.hora.apply(lambda x: datetime.datetime.utcfromtimestamp(int(x)/1000))
tc_prev_df.hora = tc_prev_df.hora.apply(lambda x: datetime.datetime.utcfromtimestamp(int(x)/1000))
tc_real_df.hora = tc_real_df.hora.apply(lambda x: datetime.datetime.utcfromtimestamp(int(x)/1000))

In [80]:
display(bimtra_df.head(5))
display(esperas_df.head(5))
# display(metaf_df.head(5))
# display(metar_df.head(5))
display(tc_prev_df.head(5))
display(tc_real_df.head(5))
# display(satelite_f.head(5))

,flightid,origem,destino,dt_dep,dt_arr
0,fcb2bf90345705318213ae1307c0f901,SBKP,SBRJ,2022-06-01 00:44:57,2022-06-01 01:26:00
1,c7c5c10716335b048f86d8c52fcba3f2,SBGR,SBRJ,2022-06-01 00:57:01,2022-06-01 01:32:53
2,3162de7203a972f071d5a48e8f0f4828,SBBR,SBRJ,2022-06-01 00:26:52,2022-06-01 01:43:45
3,8fcd243e9b9eebbe62ab145ce04b6ab5,SBKP,SBCF,2022-06-01 00:58:40,2022-06-01 01:41:41
4,504a62621cd231d6ab67e674ce538cd3,SBCF,SBFL,2022-06-01 01:00:38,2022-06-01 02:33:05

   esperas                hora  aero
0        0 2022-06-01 00:00:00  SBBR
1        0 2022-06-01 01:00:00  SBBR
2        0 2022-06-01 02:00:00  SBBR
3        0 2022-06-01 03:00:00  SBBR
4        0 2022-06-01 04:00:00  SBBR

                 hora  troca aero
0 2022-06-01 00:00:00      0   BR
1 2022-06-01 01:00:00      0   BR
2 2022-06-01 02:00:00      0   BR
3 2022-06-01 03:00:00      0   BR
4 2022-06-01 04:00:00      0   BR

                 hora nova_cabeceira antiga_cabeceira aero
0 2022-06-01 14:14:03             32               03   FL
1 2022-06-01 18:51:10             18               12   RF
2 2022-06-01 19:12:25             16               13   CF
3 2022-06-01 19:12:38             15               26   GL
4 2022-06-01 19:12:57             15               26   GL

In [81]:
print(f'bimtra_df: {bimtra_df.shape}')
print(f'esperas_df: {esperas_df.shape}')
print(f'metaf_df: {metaf_df.shape}')
print(f'metar_df: {metar_df.shape}')
print(f'tc_prev_df: {tc_prev_df.shape}')
print(f'tc_real_df: {tc_real_df.shape}')

bimtra_df: (300347, 5)
esperas_df: (99936, 3)
metaf_df: (43938, 3)
metar_df: (106744, 3)
tc_prev_df: (99936, 3)
tc_real_df: (33431, 4)

In [85]:
prev_merged = pd.merge(tc_prev_df, tc_real_df, how='left')
prev_merged = prev_merged.drop(['nova_cabeceira', 'antiga_cabeceira'], axis=1)
prev_merged.head()

                 hora  troca aero
0 2022-06-01 00:00:00      0   BR
1 2022-06-01 01:00:00      0   BR
2 2022-06-01 02:00:00      0   BR
3 2022-06-01 03:00:00      0   BR
4 2022-06-01 04:00:00      0   BR

In [ ]:
#metar_df.metar = metar_df.metar.apply(lambda x: x.replace('=', ' '))
#metar_sample = str(metar_df['metar'].sample(1))
metar_sample = 'METAR SBBR 010000Z 07002KT CAVOK 21/08 Q1018'

print(metar_sample)
report = Metar.Metar(metar_sample)
print(report, '\n')

print(f'Station_Id: {report.station_id}')
print(f'Type: {report.type}')
print(f'Time: {report.time}')
print(f'Day: {report._day}')
print(f'Temperature: {report.temp}')
print(f'Dew Point: {report.dewpt}')
print(f'Wind Direction: {report.wind_dir}')
print(f'Visibility: {report.vis}')

METAR SBBR 010000Z 07002KT CAVOK 21/08 Q1018
station: SBBR
type: routine report (automatic report)
time: Fri Sep  1 00:00:00 2023
temperature: 21.0 C
dew point: 8.0 C
wind: ENE at 2 knots
visibility: 10000 meters
pressure: 1018.0 mb
METAR: METAR SBBR 010000Z 07002KT CAVOK 21/08 Q1018

Station_Id: SBBR
Type: METAR
Time: 2023-09-01 00:00:00
Day: 1
Temperature: 21.0 C
Dew Point: 8.0 C
Wind Direction: 70 degrees
Visibility: 10000 meters