# Importing libraries and loading data

In [1266]:
%pip install python-metar

Requirement already satisfied: python-metar in /opt/homebrew/lib/python3.11/site-packages (1.4.0)
Note: you may need to restart the kernel to use updated packages.

In [1267]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from metar import Metar
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from datetime import datetime, timedelta
from statistics import mode
# pd.set_option('display.max_colwidth', None)
# pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [1268]:
bimtra_df = pd.read_csv('data/bimtra_df.csv')
esperas_df = pd.read_csv('data/esperas_df.csv')
metaf_df = pd.read_csv('data/metaf_df.csv')
metar_df = pd.read_csv('data/metar_df.csv')
tc_prev_df = pd.read_csv('data/tc-prev_df.csv')
tc_real_df = pd.read_csv('data/tc-real_df.csv')
test_data = pd.read_csv('data/idsc_test.csv')

# Exploratory Analysis

In [1269]:
test_data.head()

,flightid,origem,destino,dt_dep,hora_ref,snapshot_radar,path,hora_esperas,esperas,aero_esperas,...,metaf,aero_metaf,hora_metar,metar,aero_metar,hora_tcp,troca,aero_tcp,hora_tcr,aero_tcr
0,7945735584a3297121c4f5ae0de8ecd1,SBKP,SBSV,2023-05-30 11:36:03.000,2023-05-30 11:00:00.000,MULTIPOINT ((-0.8807200448127578 -0.5148453155...,http://satelite.cptec.inpe.br/repositoriogoes/...,2023-05-30 10:00:00.000,0,SBSV,...,NaN,NaN,2023-05-30 11:00:00.000,METAR SBSV 301100Z 12009KT 9999 FEW023 28/21 Q...,SBSV,2023-05-30 12:00:00.000,0,SBSV,NaN,NaN
1,85cb958e8b9d583575cd9cb93e389226,SBFL,SBRJ,2023-05-19 08:26:06.000,2023-05-19 08:00:00.000,MULTIPOINT ((-0.8826266039383116 -0.4926305156...,http://satelite.cptec.inpe.br/repositoriogoes/...,2023-05-19 07:00:00.000,0,SBRJ,...,METAF SBRJ 190900Z 33004KT 9999 BKN033 ...,SBRJ,2023-05-19 08:00:00.000,METAR SBRJ 190800Z 02004KT 9999 FEW010 SCT040 ...,SBRJ,2023-05-19 09:00:00.000,0,SBRJ,NaN,NaN
2,2d4e8cd3947525a12ff16af520beefb9,SBCF,SBGR,2023-05-22 11:52:02.000,2023-05-22 11:00:00.000,MULTIPOINT ((-0.8972512464147154 -0.5215196550...,http://satelite.cptec.inpe.br/repositoriogoes/...,2023-05-22 10:00:00.000,0,SBGR,...,METAF SBGR 221200Z 04003KT CAVOK 19/09 Q1021=\n,SBGR,2023-05-22 11:00:00.000,METAR SBGR 221100Z 07006KT CAVOK 13/12 Q1022=,SBGR,2023-05-22 12:00:00.000,0,SBGR,NaN,NaN
3,24cf317a1494a016a018d9f5cd183639,SBFL,SBSP,2023-05-29 16:07:07.000,2023-05-29 16:00:00.000,MULTIPOINT ((-0.892972783728755 -0.51704889771...,http://satelite.cptec.inpe.br/repositoriogoes/...,2023-05-29 15:00:00.000,2,SBSP,...,METAF SBSP 291700Z 15010KT 9999 OVC033 ...,SBSP,2023-05-29 16:00:00.000,METAR SBSP 291600Z 12010KT 090V160 9999 SCT015...,SBSP,2023-05-29 17:00:00.000,0,SBSP,NaN,NaN
4,370babaf32dc82a6a64bf5b71a3434ed,SBCF,SBKP,2023-05-25 22:16:04.000,2023-05-25 22:00:00.000,MULTIPOINT ((-0.8970045369724385 -0.5240544927...,http://satelite.cptec.inpe.br/repositoriogoes/...,2023-05-25 21:00:00.000,0,SBKP,...,METAF SBKP 252300Z 08008KT CAVOK 21/12 Q1019=\n,SBKP,2023-05-25 22:00:00.000,METAR SBKP 252200Z 09004KT CAVOK 23/13 Q1020=,SBKP,2023-05-25 23:00:00.000,0,SBKP,NaN,NaN

In [1270]:
test_data.snapshot_radar.sample(1)

93    MULTIPOINT ((-0.88950597663001 -0.522736265079...
Name: snapshot_radar, dtype: object

In [1271]:
test_data.columns

Index(['flightid', 'origem', 'destino', 'dt_dep', 'hora_ref', 'snapshot_radar',
       'path', 'hora_esperas', 'esperas', 'aero_esperas', 'hora_metaf',
       'metaf', 'aero_metaf', 'hora_metar', 'metar', 'aero_metar', 'hora_tcp',
       'troca', 'aero_tcp', 'hora_tcr', 'aero_tcr'],
      dtype='object')

In [1272]:
display(test_data.head())

display(bimtra_df.head())
display(esperas_df.head())
# display(f'metaf_df: {metaf_df.columns}')
# display(f'metar_df: {metar_df.columns}')
display(tc_prev_df.head())
display(tc_real_df.head())

,flightid,origem,destino,dt_dep,hora_ref,snapshot_radar,path,hora_esperas,esperas,aero_esperas,...,metaf,aero_metaf,hora_metar,metar,aero_metar,hora_tcp,troca,aero_tcp,hora_tcr,aero_tcr
0,7945735584a3297121c4f5ae0de8ecd1,SBKP,SBSV,2023-05-30 11:36:03.000,2023-05-30 11:00:00.000,MULTIPOINT ((-0.8807200448127578 -0.5148453155...,http://satelite.cptec.inpe.br/repositoriogoes/...,2023-05-30 10:00:00.000,0,SBSV,...,NaN,NaN,2023-05-30 11:00:00.000,METAR SBSV 301100Z 12009KT 9999 FEW023 28/21 Q...,SBSV,2023-05-30 12:00:00.000,0,SBSV,NaN,NaN
1,85cb958e8b9d583575cd9cb93e389226,SBFL,SBRJ,2023-05-19 08:26:06.000,2023-05-19 08:00:00.000,MULTIPOINT ((-0.8826266039383116 -0.4926305156...,http://satelite.cptec.inpe.br/repositoriogoes/...,2023-05-19 07:00:00.000,0,SBRJ,...,METAF SBRJ 190900Z 33004KT 9999 BKN033 ...,SBRJ,2023-05-19 08:00:00.000,METAR SBRJ 190800Z 02004KT 9999 FEW010 SCT040 ...,SBRJ,2023-05-19 09:00:00.000,0,SBRJ,NaN,NaN
2,2d4e8cd3947525a12ff16af520beefb9,SBCF,SBGR,2023-05-22 11:52:02.000,2023-05-22 11:00:00.000,MULTIPOINT ((-0.8972512464147154 -0.5215196550...,http://satelite.cptec.inpe.br/repositoriogoes/...,2023-05-22 10:00:00.000,0,SBGR,...,METAF SBGR 221200Z 04003KT CAVOK 19/09 Q1021=\n,SBGR,2023-05-22 11:00:00.000,METAR SBGR 221100Z 07006KT CAVOK 13/12 Q1022=,SBGR,2023-05-22 12:00:00.000,0,SBGR,NaN,NaN
3,24cf317a1494a016a018d9f5cd183639,SBFL,SBSP,2023-05-29 16:07:07.000,2023-05-29 16:00:00.000,MULTIPOINT ((-0.892972783728755 -0.51704889771...,http://satelite.cptec.inpe.br/repositoriogoes/...,2023-05-29 15:00:00.000,2,SBSP,...,METAF SBSP 291700Z 15010KT 9999 OVC033 ...,SBSP,2023-05-29 16:00:00.000,METAR SBSP 291600Z 12010KT 090V160 9999 SCT015...,SBSP,2023-05-29 17:00:00.000,0,SBSP,NaN,NaN
4,370babaf32dc82a6a64bf5b71a3434ed,SBCF,SBKP,2023-05-25 22:16:04.000,2023-05-25 22:00:00.000,MULTIPOINT ((-0.8970045369724385 -0.5240544927...,http://satelite.cptec.inpe.br/repositoriogoes/...,2023-05-25 21:00:00.000,0,SBKP,...,METAF SBKP 252300Z 08008KT CAVOK 21/12 Q1019=\n,SBKP,2023-05-25 22:00:00.000,METAR SBKP 252200Z 09004KT CAVOK 23/13 Q1020=,SBKP,2023-05-25 23:00:00.000,0,SBKP,NaN,NaN

,flightid,origem,destino,dt_dep,dt_arr
0,fcb2bf90345705318213ae1307c0f901,SBKP,SBRJ,1654044297000,1654046760000
1,c7c5c10716335b048f86d8c52fcba3f2,SBGR,SBRJ,1654045021000,1654047173000
2,3162de7203a972f071d5a48e8f0f4828,SBBR,SBRJ,1654043212000,1654047825000
3,8fcd243e9b9eebbe62ab145ce04b6ab5,SBKP,SBCF,1654045120000,1654047701000
4,504a62621cd231d6ab67e674ce538cd3,SBCF,SBFL,1654045238000,1654050785000

   esperas           hora  aero
0        0  1654041600000  SBBR
1        0  1654045200000  SBBR
2        0  1654048800000  SBBR
3        0  1654052400000  SBBR
4        0  1654056000000  SBBR

            hora  troca aero
0  1654041600000      0   BR
1  1654045200000      0   BR
2  1654048800000      0   BR
3  1654052400000      0   BR
4  1654056000000      0   BR

            hora nova_cabeceira antiga_cabeceira aero
0  1654092843000             32               03   FL
1  1654109470000             18               12   RF
2  1654110745000             16               13   CF
3  1654110758000             15               26   GL
4  1654110777000             15               26   GL

In [1273]:
display(f'idsc_test_df: {test_data.columns}')

display(f'bimtra_df: {bimtra_df.columns}')
display(f'esperas_df: {esperas_df.columns}')
# display(f'metaf_df: {metaf_df.columns}')
# display(f'metar_df: {metar_df.columns}')
display(f'tc_prev_df: {tc_prev_df.columns}')
display(f'tc_real_df: {tc_real_df.columns}')

"idsc_test_df: Index(['flightid', 'origem', 'destino', 'dt_dep', 'hora_ref', 'snapshot_radar',\n       'path', 'hora_esperas', 'esperas', 'aero_esperas', 'hora_metaf',\n       'metaf', 'aero_metaf', 'hora_metar', 'metar', 'aero_metar', 'hora_tcp',\n       'troca', 'aero_tcp', 'hora_tcr', 'aero_tcr'],\n      dtype='object')"

"bimtra_df: Index(['flightid', 'origem', 'destino', 'dt_dep', 'dt_arr'], dtype='object')"

"esperas_df: Index(['esperas', 'hora', 'aero'], dtype='object')"

"tc_prev_df: Index(['hora', 'troca', 'aero'], dtype='object')"

"tc_real_df: Index(['hora', 'nova_cabeceira', 'antiga_cabeceira', 'aero'], dtype='object')"

In [1274]:
print(f'bimtra_df: {bimtra_df.shape}')
print(f'esperas_df: {esperas_df.shape}')
print(f'metaf_df: {metaf_df.shape}')
print(f'metar_df: {metar_df.shape}')
print(f'tc_prev_df: {tc_prev_df.shape}')
print(f'tc_real_df: {tc_real_df.shape}')

bimtra_df: (300347, 5)
esperas_df: (99936, 3)
metaf_df: (43938, 3)
metar_df: (106744, 3)
tc_prev_df: (99936, 3)
tc_real_df: (33431, 4)

# Pre Processing

In [1275]:
bimtra_df.dt_arr = bimtra_df.dt_arr.apply(lambda x: datetime.utcfromtimestamp(int(x)/1000))
bimtra_df.dt_dep = bimtra_df.dt_dep.apply(lambda x: datetime.utcfromtimestamp(int(x)/1000))
esperas_df.hora = esperas_df.hora.apply(lambda x: datetime.utcfromtimestamp(int(x)/1000))
metaf_df.hora = metaf_df.hora.apply(lambda x: datetime.utcfromtimestamp(int(x)/1000))
metar_df.hora = metar_df.hora.apply(lambda x: datetime.utcfromtimestamp(int(x)/1000))
tc_prev_df.hora = tc_prev_df.hora.apply(lambda x: datetime.utcfromtimestamp(int(x)/1000))
tc_real_df.hora = tc_real_df.hora.apply(lambda x: datetime.utcfromtimestamp(int(x)/1000))
test_data.hora_ref = pd.to_datetime(test_data.hora_ref)
test_data.dt_dep = pd.to_datetime(test_data.dt_dep)

In [1276]:
bimtra_df['solution'] = ((bimtra_df.dt_arr - bimtra_df.dt_dep).dt.total_seconds()).astype(int)
bimtra_df['hora_ref'] = bimtra_df.dt_dep.apply(lambda x: x.replace(minute=0, second=0, microsecond=0))
bimtra_df.head()

KeyboardInterrupt:

In [ ]:
tc_prev_df['aero_tcp'] = tc_prev_df['aero']
tc_prev_df = tc_prev_df.drop(['aero'], axis=1)
tc_real_df['aero_tcr'] = tc_real_df['aero']
tc_real_df = tc_real_df.drop(['aero'], axis=1)

display(tc_prev_df.head())
display(tc_real_df.head())
display(tc_real_df.shape)

                 hora  troca aero_tcp
0 2022-06-01 00:00:00      0       BR
1 2022-06-01 01:00:00      0       BR
2 2022-06-01 02:00:00      0       BR
3 2022-06-01 03:00:00      0       BR
4 2022-06-01 04:00:00      0       BR

                 hora nova_cabeceira antiga_cabeceira aero_tcr
0 2022-06-01 14:14:03             32               03       FL
1 2022-06-01 18:51:10             18               12       RF
2 2022-06-01 19:12:25             16               13       CF
3 2022-06-01 19:12:38             15               26       GL
4 2022-06-01 19:12:57             15               26       GL

(33431, 4)

In [ ]:
tc_real_df.isna().sum()

hora                0
nova_cabeceira      0
antiga_cabeceira    0
aero_tcr            0
dtype: int64

In [ ]:
esperas_df['aero_esperas'] = esperas_df['aero']
esperas_df = esperas_df.drop(['aero'], axis=1)
esperas_df['hora_esperas'] = esperas_df['hora']
esperas_df = esperas_df.drop(['hora'], axis=1)
esperas_df['hora_ref'] = esperas_df['hora_esperas'] #+ timedelta(hours=1)
esperas_df['destino'] = esperas_df['aero_esperas']

esperas_df.head()

   esperas aero_esperas        hora_esperas            hora_ref destino
0        0         SBBR 2022-06-01 00:00:00 2022-06-01 00:00:00    SBBR
1        0         SBBR 2022-06-01 01:00:00 2022-06-01 01:00:00    SBBR
2        0         SBBR 2022-06-01 02:00:00 2022-06-01 02:00:00    SBBR
3        0         SBBR 2022-06-01 03:00:00 2022-06-01 03:00:00    SBBR
4        0         SBBR 2022-06-01 04:00:00 2022-06-01 04:00:00    SBBR

In [ ]:
print(f'bimtra_df: {bimtra_df.shape}')
print(f'esperas_df: {esperas_df.shape}')
print(f'metaf_df: {metaf_df.shape}')
print(f'metar_df: {metar_df.shape}')
print(f'tc_prev_df: {tc_prev_df.shape}')
print(f'tc_real_df: {tc_real_df.shape}')

bimtra_df: (300347, 7)
esperas_df: (99936, 5)
metaf_df: (43938, 3)
metar_df: (106744, 3)
tc_prev_df: (99936, 3)
tc_real_df: (33431, 4)

In [ ]:
tc_real_df['hora_ref'] = tc_real_df.hora.apply(lambda x: x.replace(minute=0, second=0, microsecond=0)) 
tc_prev_df['hora_ref'] = tc_prev_df.hora #- timedelta(hours=1)

tc_real_df['hora_tcr'] = tc_real_df.hora
tc_prev_df['hora_tcp'] = tc_prev_df.hora
tc_real_df = tc_real_df.drop(['hora'], axis=1)
tc_prev_df = tc_prev_df.drop(['hora'], axis=1)

tc_real_df['destino'] = tc_real_df.aero_tcr
tc_prev_df['destino'] = tc_prev_df.aero_tcp


display(tc_real_df.head())
display(tc_prev_df.head())

,nova_cabeceira,antiga_cabeceira,aero_tcr,hora_ref,hora_tcr,destino
0,32,03,FL,2022-06-01 14:00:00,2022-06-01 14:14:03,FL
1,18,12,RF,2022-06-01 18:00:00,2022-06-01 18:51:10,RF
2,16,13,CF,2022-06-01 19:00:00,2022-06-01 19:12:25,CF
3,15,26,GL,2022-06-01 19:00:00,2022-06-01 19:12:38,GL
4,15,26,GL,2022-06-01 19:00:00,2022-06-01 19:12:57,GL

   troca aero_tcp            hora_ref            hora_tcp destino
0      0       BR 2022-06-01 00:00:00 2022-06-01 00:00:00      BR
1      0       BR 2022-06-01 01:00:00 2022-06-01 01:00:00      BR
2      0       BR 2022-06-01 02:00:00 2022-06-01 02:00:00      BR
3      0       BR 2022-06-01 03:00:00 2022-06-01 03:00:00      BR
4      0       BR 2022-06-01 04:00:00 2022-06-01 04:00:00      BR

In [ ]:
tc_prev_df['destino'] = 'SB' + tc_prev_df['destino'].astype(str)
tc_prev_df['destino'].unique()

tc_real_df['destino'] = 'SB' + tc_real_df['destino'].astype(str)
tc_real_df['destino'].unique()

tc_prev_df['aero_tcp'] = 'SB' + tc_prev_df['aero_tcp'].astype(str)
tc_prev_df['aero_tcp'].unique()

tc_real_df['aero_tcr'] = 'SB' + tc_real_df['aero_tcr'].astype(str)
tc_real_df['aero_tcr'].unique()

array(['SBFL', 'SBRF', 'SBCF', 'SBGL', 'SBSV', 'SBKP', 'SBGR', 'SBPA',
       'SBRJ', 'SBSP', 'SBBR', 'SBCT'], dtype=object)

In [ ]:
train_data = pd.merge(bimtra_df, esperas_df, how='left', on=['hora_ref', 'destino'])
train_data = pd.merge(train_data, tc_prev_df, how='left', on=['hora_ref', 'destino'])
train_data = pd.merge(train_data, tc_real_df, how='left', on=['hora_ref', 'destino'])
# train_data['hora_ref'] = train_data['hora_ref'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [ ]:
display(train_data.sample(10))
display(train_data.shape)

,flightid,origem,destino,dt_dep,dt_arr,solution,hora_ref,esperas,aero_esperas,hora_esperas,troca,aero_tcp,hora_tcp,nova_cabeceira,antiga_cabeceira,aero_tcr,hora_tcr
189052,086e4eb208684dbd0563380b68bfe8cd,SBGR,SBSP,2022-12-24 11:14:38,2022-12-24 11:30:13,935,2022-12-24 11:00:00,0,SBSP,2022-12-24 11:00:00,0,SBSP,2022-12-24 11:00:00,NaN,NaN,NaN,NaT
77154,20cf14905cfbbba3a3c41554df65e5c7,SBSV,SBBR,2022-08-26 07:34:48,2022-08-26 09:07:40,5572,2022-08-26 07:00:00,0,SBBR,2022-08-26 07:00:00,0,SBBR,2022-08-26 07:00:00,NaN,NaN,NaN,NaT
69794,b4678b345f0a4877f9205a3dfa1961a2,SBFL,SBSP,2022-08-18 12:41:04,2022-08-18 13:40:31,3567,2022-08-18 12:00:00,1,SBSP,2022-08-18 12:00:00,1,SBSP,2022-08-18 12:00:00,NaN,NaN,NaN,NaT
93461,da843c583f93675e787b744c31913866,SBPA,SBSP,2022-09-13 09:17:14,2022-09-13 10:39:54,4960,2022-09-13 09:00:00,0,SBSP,2022-09-13 09:00:00,0,SBSP,2022-09-13 09:00:00,NaN,NaN,NaN,NaT
275445,8ac005bcbf2fe22814e4948f2a9684f4,SBCF,SBSP,2023-03-22 15:08:40,2023-03-22 16:08:49,3609,2023-03-22 15:00:00,0,SBSP,2023-03-22 15:00:00,0,SBSP,2023-03-22 15:00:00,17L,12,SBSP,2023-03-22 15:18:22
224139,90cae05df6a6de1ecf5c845aaf4d66b2,SBSV,SBCF,2023-01-29 18:51:45,2023-01-29 20:18:03,5178,2023-01-29 18:00:00,0,SBCF,2023-01-29 18:00:00,1,SBCF,2023-01-29 18:00:00,NaN,NaN,NaN,NaT
212485,50912563e0e7841da130ca76c1c1dd52,SBGR,SBSV,2023-01-17 03:20:52,2023-01-17 05:19:21,7109,2023-01-17 03:00:00,0,SBSV,2023-01-17 03:00:00,0,SBSV,2023-01-17 03:00:00,10,17,SBSV,2023-01-17 03:10:38
107024,6ab4b2ce13995548f335425f5e97128f,SBCF,SBKP,2022-09-28 00:42:51,2022-09-28 01:36:42,3231,2022-09-28 00:00:00,1,SBKP,2022-09-28 00:00:00,0,SBKP,2022-09-28 00:00:00,NaN,NaN,NaN,NaT
322742,91bd9757a0a374074561820414334a06,SBRJ,SBBR,2023-04-26 15:36:52,2023-04-26 17:09:19,5547,2023-04-26 15:00:00,0,SBBR,2023-04-26 15:00:00,0,SBBR,2023-04-26 15:00:00,NaN,NaN,NaN,NaT
291498,9bad7f3ad56331feeffa32fae0ab6a41,SBSP,SBSV,2023-04-05 16:54:43,2023-04-05 18:54:14,7171,2023-04-05 16:00:00,0,SBSV,2023-04-05 16:00:00,0,SBSV,2023-04-05 16:00:00,10,17,SBSV,2023-04-05 16:00:09

(340098, 17)

In [ ]:
train_data.isna().sum()

flightid                 0
origem                   0
destino                  0
dt_dep                   0
dt_arr                   0
solution                 0
hora_ref                 0
esperas                  0
aero_esperas             0
hora_esperas             0
troca                    0
aero_tcp                 0
hora_tcp                 0
nova_cabeceira      230141
antiga_cabeceira    230141
aero_tcr            230141
hora_tcr            230141
dtype: int64

In [ ]:
train_data.shape

(340098, 17)

In [ ]:
train_data.head()

,flightid,origem,destino,dt_dep,dt_arr,solution,hora_ref,esperas,aero_esperas,hora_esperas,troca,aero_tcp,hora_tcp,nova_cabeceira,antiga_cabeceira,aero_tcr,hora_tcr
0,fcb2bf90345705318213ae1307c0f901,SBKP,SBRJ,2022-06-01 00:44:57,2022-06-01 01:26:00,2463,2022-06-01 00:00:00,0,SBRJ,2022-06-01 00:00:00,0,SBRJ,2022-06-01 00:00:00,NaN,NaN,NaN,NaT
1,c7c5c10716335b048f86d8c52fcba3f2,SBGR,SBRJ,2022-06-01 00:57:01,2022-06-01 01:32:53,2152,2022-06-01 00:00:00,0,SBRJ,2022-06-01 00:00:00,0,SBRJ,2022-06-01 00:00:00,NaN,NaN,NaN,NaT
2,3162de7203a972f071d5a48e8f0f4828,SBBR,SBRJ,2022-06-01 00:26:52,2022-06-01 01:43:45,4613,2022-06-01 00:00:00,0,SBRJ,2022-06-01 00:00:00,0,SBRJ,2022-06-01 00:00:00,NaN,NaN,NaN,NaT
3,8fcd243e9b9eebbe62ab145ce04b6ab5,SBKP,SBCF,2022-06-01 00:58:40,2022-06-01 01:41:41,2581,2022-06-01 00:00:00,0,SBCF,2022-06-01 00:00:00,0,SBCF,2022-06-01 00:00:00,NaN,NaN,NaN,NaT
4,504a62621cd231d6ab67e674ce538cd3,SBCF,SBFL,2022-06-01 01:00:38,2022-06-01 02:33:05,5547,2022-06-01 01:00:00,0,SBFL,2022-06-01 01:00:00,0,SBFL,2022-06-01 01:00:00,NaN,NaN,NaN,NaT

In [ ]:
train_data.columns

Index(['flightid', 'origem', 'destino', 'dt_dep', 'dt_arr', 'solution',
       'hora_ref', 'esperas', 'aero_esperas', 'hora_esperas', 'troca',
       'aero_tcp', 'hora_tcp', 'nova_cabeceira', 'antiga_cabeceira',
       'aero_tcr', 'hora_tcr'],
      dtype='object')

In [ ]:
train_data.dt_dep, test_data.dt_dep = train_data.dt_dep.dt.hour, test_data.dt_dep.dt.hour

In [ ]:
display(train_data.head())
display(test_data.head())

,flightid,origem,destino,dt_dep,dt_arr,solution,hora_ref,esperas,aero_esperas,hora_esperas,troca,aero_tcp,hora_tcp,nova_cabeceira,antiga_cabeceira,aero_tcr,hora_tcr
0,fcb2bf90345705318213ae1307c0f901,SBKP,SBRJ,0,2022-06-01 01:26:00,2463,2022-06-01 00:00:00,0,SBRJ,2022-06-01 00:00:00,0,SBRJ,2022-06-01 00:00:00,NaN,NaN,NaN,NaT
1,c7c5c10716335b048f86d8c52fcba3f2,SBGR,SBRJ,0,2022-06-01 01:32:53,2152,2022-06-01 00:00:00,0,SBRJ,2022-06-01 00:00:00,0,SBRJ,2022-06-01 00:00:00,NaN,NaN,NaN,NaT
2,3162de7203a972f071d5a48e8f0f4828,SBBR,SBRJ,0,2022-06-01 01:43:45,4613,2022-06-01 00:00:00,0,SBRJ,2022-06-01 00:00:00,0,SBRJ,2022-06-01 00:00:00,NaN,NaN,NaN,NaT
3,8fcd243e9b9eebbe62ab145ce04b6ab5,SBKP,SBCF,0,2022-06-01 01:41:41,2581,2022-06-01 00:00:00,0,SBCF,2022-06-01 00:00:00,0,SBCF,2022-06-01 00:00:00,NaN,NaN,NaN,NaT
4,504a62621cd231d6ab67e674ce538cd3,SBCF,SBFL,1,2022-06-01 02:33:05,5547,2022-06-01 01:00:00,0,SBFL,2022-06-01 01:00:00,0,SBFL,2022-06-01 01:00:00,NaN,NaN,NaN,NaT

,flightid,origem,destino,dt_dep,hora_ref,snapshot_radar,path,hora_esperas,esperas,aero_esperas,...,metaf,aero_metaf,hora_metar,metar,aero_metar,hora_tcp,troca,aero_tcp,hora_tcr,aero_tcr
0,7945735584a3297121c4f5ae0de8ecd1,SBKP,SBSV,11,2023-05-30 11:00:00,MULTIPOINT ((-0.8807200448127578 -0.5148453155...,http://satelite.cptec.inpe.br/repositoriogoes/...,2023-05-30 10:00:00.000,0,SBSV,...,NaN,NaN,2023-05-30 11:00:00.000,METAR SBSV 301100Z 12009KT 9999 FEW023 28/21 Q...,SBSV,2023-05-30 12:00:00.000,0,SBSV,NaN,NaN
1,85cb958e8b9d583575cd9cb93e389226,SBFL,SBRJ,8,2023-05-19 08:00:00,MULTIPOINT ((-0.8826266039383116 -0.4926305156...,http://satelite.cptec.inpe.br/repositoriogoes/...,2023-05-19 07:00:00.000,0,SBRJ,...,METAF SBRJ 190900Z 33004KT 9999 BKN033 ...,SBRJ,2023-05-19 08:00:00.000,METAR SBRJ 190800Z 02004KT 9999 FEW010 SCT040 ...,SBRJ,2023-05-19 09:00:00.000,0,SBRJ,NaN,NaN
2,2d4e8cd3947525a12ff16af520beefb9,SBCF,SBGR,11,2023-05-22 11:00:00,MULTIPOINT ((-0.8972512464147154 -0.5215196550...,http://satelite.cptec.inpe.br/repositoriogoes/...,2023-05-22 10:00:00.000,0,SBGR,...,METAF SBGR 221200Z 04003KT CAVOK 19/09 Q1021=\n,SBGR,2023-05-22 11:00:00.000,METAR SBGR 221100Z 07006KT CAVOK 13/12 Q1022=,SBGR,2023-05-22 12:00:00.000,0,SBGR,NaN,NaN
3,24cf317a1494a016a018d9f5cd183639,SBFL,SBSP,16,2023-05-29 16:00:00,MULTIPOINT ((-0.892972783728755 -0.51704889771...,http://satelite.cptec.inpe.br/repositoriogoes/...,2023-05-29 15:00:00.000,2,SBSP,...,METAF SBSP 291700Z 15010KT 9999 OVC033 ...,SBSP,2023-05-29 16:00:00.000,METAR SBSP 291600Z 12010KT 090V160 9999 SCT015...,SBSP,2023-05-29 17:00:00.000,0,SBSP,NaN,NaN
4,370babaf32dc82a6a64bf5b71a3434ed,SBCF,SBKP,22,2023-05-25 22:00:00,MULTIPOINT ((-0.8970045369724385 -0.5240544927...,http://satelite.cptec.inpe.br/repositoriogoes/...,2023-05-25 21:00:00.000,0,SBKP,...,METAF SBKP 252300Z 08008KT CAVOK 21/12 Q1019=\n,SBKP,2023-05-25 22:00:00.000,METAR SBKP 252200Z 09004KT CAVOK 23/13 Q1020=,SBKP,2023-05-25 23:00:00.000,0,SBKP,NaN,NaN

In [ ]:
metar_df.metar = metar_df.metar.apply(lambda x: x.replace('=', ''))

metar_df['temperature_real'] = None
metar_df['dew_point_real'] = None
metar_df['wind_direction_real'] = None
metar_df['visibility_real'] = None
metar_df['wind_speed_real'] = None
metar_df['pressure_real'] = None

for i, report in enumerate(metar_df['metar']):
    try:
        report = Metar.Metar(report)
        metar_df.at[i, 'temperature_real'] = report.temp.value()
        metar_df.at[i, 'dew_point_real'] = report.dewpt.value()
        metar_df.at[i, 'wind_direction_real'] = report.wind_dir.value()
        metar_df.at[i, 'visibility_real'] = report.vis.value()
        metar_df.at[i, 'wind_speed_real'] = report.wind_speed.value()
        metar_df.at[i, 'pressure_real'] = report.press.value()
    except:
        continue

In [ ]:
test_data.metar = test_data.metar.apply(lambda x: x.replace('=', ''))

test_data['temperature_real'] = None
test_data['dew_point_real'] = None
test_data['wind_direction_real'] = None
test_data['visibility_real'] = None
test_data['wind_speed_real'] = None
test_data['pressure_real'] = None

for i, report in enumerate(test_data['metar']):
    try:
        report = Metar.Metar(report)
        test_data.at[i, 'temperature_real'] = report.temp.value()
        test_data.at[i, 'dew_point_real'] = report.dewpt.value()
        test_data.at[i, 'wind_direction_real'] = report.wind_dir.value()
        test_data.at[i, 'visibility_real'] = report.vis.value()
        test_data.at[i, 'wind_speed_real'] = report.wind_speed.value()
        test_data.at[i, 'pressure_real'] = report.press.value()
    except:
        continue

In [ ]:
test_data.metaf

0                                                   NaN
1     METAF SBRJ 190900Z  33004KT 9999       BKN033 ...
2       METAF SBGR 221200Z 04003KT CAVOK 19/09 Q1021=\n
3     METAF SBSP 291700Z  15010KT 9999       OVC033 ...
4       METAF SBKP 252300Z 08008KT CAVOK 21/12 Q1019=\n
5     METAF SBGR 241000Z 06005KT 3000     BR BKN033 ...
6      METAF SBKP 162000Z  18003KT CAVOK 23/08 Q1017=\n
7      METAF SBCT 270100Z  35004KT CAVOK 16/11 Q1019=\n
8     METAF SBSP 311600Z 06004KT 9999    RA  OVC023 ...
9                                                   NaN
10                                                  NaN
11      METAF SBBR 221500Z 08006KT CAVOK 23/07 Q1019=\n
12     METAF SBCF 170100Z  13006KT CAVOK 13/09 Q1017=\n
13    METAF SBRJ 311700Z  10009KT 9999  -TSRA  OVC02...
14    METAF SBRJ 311700Z  10009KT 9999  -TSRA  OVC02...
15    METAF SBSP 291500Z  14010KT 9999       OVC033 ...
16     METAF SBBR 191100Z  10005KT CAVOK 17/04 Q1019=\n
17    METAF SBSP 162100Z  17008KT 9999       BKN016 ...
18    METAF SBPA 310100Z 02003KT 9999       BKN033  ...
19    METAF SBCF 220200Z  10006KT 3000     BR    13/...
20     METAF SBGR 161900Z  16009KT CAVOK 21/10 Q1018=\n
21     METAF SBSP 182000Z  14007KT CAVOK 18/11 Q1020=\n
22      METAF SBSP 270100Z 07004KT CAVOK 19/11 Q1020=\n
23     METAF SBGR 271400Z  32006KT CAVOK 24/11 Q1021=\n
24    METAF SBGL 301700Z  15006KT 9999       BKN010 ...
25    METAF SBCT 191100Z 04003KT 5000     BR SCT021 ...
26    METAF SBPA 292100Z  11010KT 9999       BKN033 ...
27     METAF SBBR 242100Z  10007KT CAVOK 24/10 Q1015=\n
28     METAF SBBR 232000Z  10008KT CAVOK 25/09 Q1016=\n
29     METAF SBGR 231400Z  12003KT CAVOK 22/09 Q1022=\n
30    METAF SBCF 221000Z  13004KT 0700 FG     OVC028...
31      METAF SBKP 211200Z 07003KT CAVOK 18/08 Q1019=\n
32     METAF SBGR 221400Z  34006KT CAVOK 23/08 Q1020=\n
33      METAF SBCT 231200Z 03001KT CAVOK 17/10 Q1023=\n
34     METAF SBCT 150100Z  28001KT CAVOK 12/08 Q1021=\n
35     METAF SBGR 151400Z  14002KT CAVOK 19/07 Q1021=\n
36    METAF SBSP 231100Z 04003KT 9999       FEW033  ...
37    METAF SBFL 222100Z  36010KT 3000     BR    20/...
38    METAF SBGL 190100Z  22001KT 9999       BKN032 ...
39    METAF SBGR 300200Z  12006KT 1000     BR OVC033...
40     METAF SBRJ 161400Z  24006KT CAVOK 25/08 Q1018=\n
41    METAF SBFL 300100Z  20006KT 9999       OVC033 ...
42     METAF SBKP 271400Z  34006KT CAVOK 24/13 Q1021=\n
43                                                  NaN
44     METAF SBGR 210100Z  36003KT CAVOK 16/09 Q1019=\n
45     METAF SBCF 281900Z  25005KT CAVOK 28/09 Q1014=\n
46     METAF SBCF 151800Z  25007KT CAVOK 28/08 Q1016=\n
47     METAF SBGR 171700Z  14007KT CAVOK 20/09 Q1018=\n
48      METAF SBBR 210100Z 09004KT CAVOK 17/03 Q1017=\n
49      METAF SBSP 231400Z 07002KT CAVOK 21/09 Q1023=\n
50      METAF SBCT 241700Z 05005KT CAVOK 21/10 Q1019=\n
51     METAF SBKP 260000Z  10008KT CAVOK 18/12 Q1020=\n
52     METAF SBBR 300900Z  10006KT CAVOK 16/10 Q1017=\n
53     METAF SBPA 201300Z  28003KT CAVOK 18/07 Q1019=\n
54    METAF SBSP 301600Z  11007KT 9999       OVC026 ...
55    METAF SBRJ 312300Z 08012KT 9999       FEW033  ...
56     METAF SBCF 280900Z  11004KT CAVOK 12/07 Q1018=\n
57                                                  NaN
58      METAF SBSP 251300Z 05005KT CAVOK 19/12 Q1023=\n
59    METAF SBRJ 241300Z  10004KT 9999       FEW033 ...
60    METAF SBGR 150200Z 06002KT 4000     BR SCT017 ...
61    METAF SBGR 310300Z 08004KT 1000     BR OVC033 ...
62    METAF SBCF 221400Z 06008KT 9999       FEW033  ...
63     METAF SBRJ 271300Z  17003KT CAVOK 25/14 Q1020=\n
64     METAF SBBR 282100Z  12004KT CAVOK 27/08 Q1014=\n
65     METAF SBBR 192200Z  11006KT CAVOK 24/01 Q1016=\n
66    METAF SBPA 291000Z  22001KT 9000       BKN023 ...
67     METAF SBKP 271400Z  34006KT CAVOK 24/13 Q1021=\n
68      METAF SBGR 270900Z 02003KT CAVOK 15/11 Q1020=\n
69      METAF SBRJ 251200Z 03001KT CAVOK 22/12 Q1023=\n
70     METAF SBGL 281000Z  32002KT CAVOK 21/15 Q1016=\n
71                                                  NaN
72    METAF SBSP 311200Z 07006KT 6000  - RA  OVC026 ...
73      METAF SBBR 291400Z 08004KT CAVOK 25/09 Q1018=\n
74     METAF SBGR 152200Z  16005KT CAVOK 18/10 Q1019=\n
75      METAF SBBR 312200Z 01003KT CAVOK 26/11 Q1017=\n
76      METAF SBRJ 272200Z 06007KT CAVOK 25/16 Q1017=\n
77      METAF SBSP 191500Z 07004KT CAVOK 20/07 Q1020=\n
78     METAF SBKP 151400Z  13001KT CAVOK 21/09 Q1021=\n
79    METAF SBRJ 311600Z 08004KT 9999  - RA  OVC024 ...
80                                                  NaN
81    METAF SBRJ 232200Z 08009KT 9999       SCT033  ...
82     METAF SBKP 161900Z  17006KT CAVOK 24/07 Q1017=\n
83    METAF SBCT 221100Z 03004KT 8000       FEW033  ...
84     METAF SBBR 161400Z  10004KT CAVOK 24/10 Q1018=\n
85    METAF SBRJ 181600Z  19007KT 9999       OVC033 ...
86                                                  NaN
87    METAF SBSP 301200Z  10008KT 7000       OVC033 ...
88     METAF SBRJ 281800Z  21011KT CAVOK 27/18 Q1014=\n
89      METAF SBSP 220900Z 05004KT CAVOK 13/09 Q1019=\n
90    METAF SBSP 242300Z  12005KT 9999       FEW033 ...
91      METAF SBKP 251400Z 01007KT CAVOK 24/13 Q1022=\n
92    METAF SBGR 300700Z  11006KT 1000     BR OVC033...
93      METAF SBCT 181600Z 07004KT CAVOK 21/08 Q1021=\n
94     METAF SBSP 232200Z  12006KT CAVOK 20/12 Q1020=\n
95    METAF SBGR 192300Z  11006KT 9000       FEW019 ...
96    METAF SBKP 312000Z  23006KT 9999       OVC022 ...
97    METAF SBRJ 201600Z  10003KT 9999       FEW033 ...
98    METAF SBSP 311200Z 07006KT 6000  - RA  OVC026 ...
99      METAF SBCT 201400Z 01002KT CAVOK 19/08 Q1020=\n
Name: metaf, dtype: object

In [ ]:
test_data.metaf = test_data.metaf.fillna('')

In [ ]:
replace_equals_newline = lambda x: x.replace('=\n', ' ')
replace_metaf = lambda x: x.replace('METAF', 'METAR')

metaf_df.metaf = metaf_df.metaf.apply(replace_equals_newline)
metaf_df.metaf = metaf_df.metaf.apply(replace_metaf)

test_data.metaf = test_data.metaf.apply(replace_equals_newline)
test_data.metaf = test_data.metaf.apply(replace_metaf)

In [ ]:
metaf_df.shape

(43938, 3)

In [ ]:
metaf_df['temperature_prev'] = None
metaf_df['dew_point_prev'] = None
metaf_df['wind_direction_prev'] = None
metaf_df['visibility_prev'] = None
metaf_df['wind_speed_prev'] = None
metaf_df['pressure_prev'] = None

for i, report in enumerate(metaf_df['metaf']):
    try:
        report = Metar.Metar(report)
        metaf_df.at[i, 'temperature_prev'] = report.temp.value()
        metaf_df.at[i, 'dew_point_prev'] = report.dewpt.value()
        metaf_df.at[i, 'wind_direction_prev'] = report.wind_dir.value()
        metaf_df.at[i, 'visibility_prev'] = report.vis.value()
        metaf_df.at[i, 'wind_speed_prev'] = report.wind_speed.value()
        metaf_df.at[i, 'pressure_prev'] = report.press.value()
    except:
        continue

In [ ]:
test_data['temperature_prev'] = None
test_data['dew_point_prev'] = None
test_data['wind_direction_prev'] = None
test_data['visibility_prev'] = None
test_data['wind_speed_prev'] = None
test_data['pressure_prev'] = None

for i, report in enumerate(test_data['metaf']):
    try:
        report = Metar.Metar(report)
        test_data.at[i, 'temperature_prev'] = report.temp.value()
        test_data.at[i, 'dew_point_prev'] = report.dewpt.value()
        test_data.at[i, 'wind_direction_prev'] = report.wind_dir.value()
        test_data.at[i, 'visibility_prev'] = report.vis.value()
        test_data.at[i, 'wind_speed_prev'] = report.wind_speed.value()
        test_data.at[i, 'pressure_prev'] = report.press.value()
    except:
        continue

In [ ]:
metaf_df.sample(5)

,hora,metaf,aero,temperature_prev,dew_point_prev,wind_direction_prev,visibility_prev,wind_speed_prev,pressure_prev
10524,2022-08-10 04:00:00,METAR SBGL 100400Z 26004KT 3000 BR BKN033...,SBGL,21.0,19.0,260.0,3000.0,4.0,1015.0
28228,2022-12-05 06:00:00,METAR SBKP 050600Z 03004KT 2000 RABR OVC033...,SBKP,18.0,17.0,30.0,2000.0,4.0,1013.0
8666,2023-04-30 20:00:00,METAR SBFL 302000Z 02012KT 8000 SCT020 ...,SBFL,23.0,19.0,20.0,8000.0,12.0,1015.0
18286,2022-08-16 01:00:00,METAR SBGR 160100Z 02009KT CAVOK 18/05 Q1015,SBGR,18.0,5.0,20.0,10000.0,9.0,1015.0
31351,2023-04-23 13:00:00,METAR SBKP 231300Z 09006KT 9999 FEW033 ...,SBKP,22.0,14.0,90.0,10000.0,6.0,1020.0

In [ ]:
metaf_df.shape

(43938, 9)

In [ ]:
metar_df['hora_ref'], metaf_df['hora_ref'] = pd.to_datetime(metar_df['hora']), pd.to_datetime(metaf_df['hora']) #- timedelta(hours=1)

In [ ]:
metar_metaf = pd.merge(metar_df, metaf_df, how='left', on=['hora_ref', 'aero'])
metar_metaf.shape

(106744, 18)

In [ ]:
metar_metaf['destino'] = metar_metaf['aero']
metar_metaf = metar_metaf.drop(['aero'], axis=1)

In [ ]:
train_data.shape

(340098, 17)

In [ ]:
metar_metaf.head()

,hora_x,metar,temperature_real,dew_point_real,wind_direction_real,visibility_real,wind_speed_real,pressure_real,hora_ref,hora_y,metaf,temperature_prev,dew_point_prev,wind_direction_prev,visibility_prev,wind_speed_prev,pressure_prev,destino
0,2022-06-01 00:00:00,METAR SBBR 010000Z 07002KT CAVOK 21/08 Q1018,21.0,8.0,70.0,10000.0,2.0,1018.0,2022-06-01 00:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SBBR
1,2022-06-01 01:00:00,METAR SBBR 010100Z 10002KT CAVOK 20/09 Q1019,20.0,9.0,100.0,10000.0,2.0,1019.0,2022-06-01 01:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SBBR
2,2022-06-01 02:00:00,METAR SBBR 010200Z 00000KT CAVOK 16/09 Q1019,16.0,9.0,0.0,10000.0,0.0,1019.0,2022-06-01 02:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SBBR
3,2022-06-01 03:00:00,METAR SBBR 010300Z 27002KT CAVOK 16/09 Q1019,16.0,9.0,270.0,10000.0,2.0,1019.0,2022-06-01 03:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SBBR
4,2022-06-01 04:00:00,METAR SBBR 010400Z 00000KT CAVOK 14/09 Q1018,14.0,9.0,0.0,10000.0,0.0,1018.0,2022-06-01 04:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SBBR

In [ ]:
train_data = pd.merge(train_data, metar_metaf, how='left', on=['hora_ref', 'destino'])

In [ ]:
cat_columns = ['origem', 'destino', 'aero_esperas', 'aero_tcp', 'aero_tcr']
train_data, test_data = pd.get_dummies(train_data, columns=cat_columns, dtype=int), pd.get_dummies(test_data, columns=cat_columns, dtype=int)

for column in train_data.columns:
    if column == 'solution':
        continue
    if column not in test_data.columns:
        test_data[column] = 0

In [ ]:
train_data.shape

(340100, 88)

In [ ]:
for column in train_data.columns:
    if train_data[column].isna().sum():
        print(column)

nova_cabeceira
antiga_cabeceira
hora_tcr
hora_x
metar
temperature_real
dew_point_real
wind_direction_real
visibility_real
wind_speed_real
pressure_real
hora_y
metaf
temperature_prev
dew_point_prev
wind_direction_prev
visibility_prev
wind_speed_prev
pressure_prev

In [ ]:
columns0 = ['esperas', 'troca']
columns_mean = ['temperature_real',
'dew_point_real',
'wind_direction_real',
'visibility_real',
'wind_speed_real',
'pressure_real',
'temperature_prev',
'dew_point_prev',
'wind_direction_prev',
'visibility_prev',
'wind_speed_prev',
'pressure_prev']

In [ ]:
train_data[columns0] = train_data[columns0].fillna(0)
train_data[columns_mean] = train_data[columns_mean].fillna(train_data[columns_mean].mean())

test_data[columns0] = test_data[columns0].fillna(0)
test_data[columns_mean] = test_data[columns_mean].fillna(test_data[columns_mean].mean())

In [ ]:
train_data = train_data.drop(columns=['nova_cabeceira', 'antiga_cabeceira', 'dt_arr', 'hora_esperas', 'hora_tcp', 'hora_tcr', 'hora_ref', 'metar', 'metaf', 'hora_x', 'hora_y'], axis=1)
test_data = test_data.drop(columns=['snapshot_radar', 'path', 'hora_metaf', 'metaf', 'aero_metaf', 'hora_metar', 'metar', 'aero_metar', 'hora_esperas', 'hora_tcp', 'hora_tcr', 'hora_ref'], axis=1)

In [ ]:
for column in train_data.columns:
    if column not in test_data.columns:
        print(column)

solution

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340100 entries, 0 to 340099
Data columns (total 77 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   flightid             340100 non-null  object
 1   dt_dep               340100 non-null  int32
 2   solution             340100 non-null  int64
 3   esperas              340100 non-null  int64
 4   troca                340100 non-null  int64
 5   temperature_real     340100 non-null  float64
 6   dew_point_real       340100 non-null  float64
 7   wind_direction_real  340100 non-null  float64
 8   visibility_real      340100 non-null  float64
 9   wind_speed_real      340100 non-null  float64
 10  pressure_real        340100 non-null  float64
 11  temperature_prev     340100 non-null  float64
 12  dew_point_prev       340100 non-null  float64
 13  wind_direction_prev  340100 non-null  float64
 14  visibility_prev      340100 non-null  float64
 15  wind_speed_prev      340100 non-null  float64
 16  pressure_prev        340100 non-null  float64
 17  origem_SBBR          340100 non-null  int64
 18  origem_SBCF          340100 non-null  int64
 19  origem_SBCT          340100 non-null  int64
 20  origem_SBFL          340100 non-null  int64
 21  origem_SBGL          340100 non-null  int64
 22  origem_SBGR          340100 non-null  int64
 23  origem_SBKP          340100 non-null  int64
 24  origem_SBPA          340100 non-null  int64
 25  origem_SBRF          340100 non-null  int64
 26  origem_SBRJ          340100 non-null  int64
 27  origem_SBSP          340100 non-null  int64
 28  origem_SBSV          340100 non-null  int64
 29  destino_SBBR         340100 non-null  int64
 30  destino_SBCF         340100 non-null  int64
 31  destino_SBCT         340100 non-null  int64
 32  destino_SBFL         340100 non-null  int64
 33  destino_SBGL         340100 non-null  int64
 34  destino_SBGR         340100 non-null  int64
 35  destino_SBKP         340100 non-null  int64
 36  destino_SBPA         340100 non-null  int64
 37  destino_SBRF         340100 non-null  int64
 38  destino_SBRJ         340100 non-null  int64
 39  destino_SBSP         340100 non-null  int64
 40  destino_SBSV         340100 non-null  int64
 41  aero_esperas_SBBR    340100 non-null  int64
 42  aero_esperas_SBCF    340100 non-null  int64
 43  aero_esperas_SBCT    340100 non-null  int64
 44  aero_esperas_SBFL    340100 non-null  int64
 45  aero_esperas_SBGL    340100 non-null  int64
 46  aero_esperas_SBGR    340100 non-null  int64
 47  aero_esperas_SBKP    340100 non-null  int64
 48  aero_esperas_SBPA    340100 non-null  int64
 49  aero_esperas_SBRF    340100 non-null  int64
 50  aero_esperas_SBRJ    340100 non-null  int64
 51  aero_esperas_SBSP    340100 non-null  int64
 52  aero_esperas_SBSV    340100 non-null  int64
 53  aero_tcp_SBBR        340100 non-null  int64
 54  aero_tcp_SBCF        340100 non-null  int64
 55  aero_tcp_SBCT        340100 non-null  int64
 56  aero_tcp_SBFL        340100 non-null  int64
 57  aero_tcp_SBGL        340100 non-null  int64
 58  aero_tcp_SBGR        340100 non-null  int64
 59  aero_tcp_SBKP        340100 non-null  int64
 60  aero_tcp_SBPA        340100 non-null  int64
 61  aero_tcp_SBRF        340100 non-null  int64
 62  aero_tcp_SBRJ        340100 non-null  int64
 63  aero_tcp_SBSP        340100 non-null  int64
 64  aero_tcp_SBSV        340100 non-null  int64
 65  aero_tcr_SBBR        340100 non-null  int64
 66  aero_tcr_SBCF        340100 non-null  int64
 67  aero_tcr_SBCT        340100 non-null  int64
 68  aero_tcr_SBFL        340100 non-null  int64
 69  aero_tcr_SBGL        340100 non-null  int64
 70  aero_tcr_SBGR        340100 non-null  int64
 71  aero_tcr_SBKP        340100 non-null  int64
 72  aero_tcr_SBPA        340100 non-null  int64
 73  aero_tcr_SBRF        340100 non-null  int64
 74  aero_tcr_SBRJ        340100 non-null  int64
 75  aero_tcr_SBSP        340100 non-null  int64
 76  aero_tcr_SBSV        340100 non-null  int64
dtypes: float64(12), int32(1), int64(63), object(1)
memory usage: 198.5+ MB

# Modeling

In [ ]:
features = train_data.columns
features = features.drop(['flightid', 'solution'])
target = 'solution'

X_train, X_test, y_train, y_test = train_test_split(train_data[features], train_data[target], test_size=0.2, random_state=42)

# model = LinearRegression()
# model.fit(X_train, y_train)
# y_pred = model.predict(X_test)
# print(f'Linear Regression MSE: {mean_squared_error(y_test, y_pred)}')

model2 = RandomForestRegressor(n_estimators=100, max_depth=10, random_state=42)
model2.fit(X_train, y_train)
y_pred = model2.predict(X_test)
y_pred = np.round_(y_pred)
print(y_pred)
print(f'Random Forest Regressor MSE: {mean_squared_error(y_test, y_pred)}')

[4922. 4975. 8244. ... 5073. 3797. 2913.]
Random Forest Regressor MSE: 1398299.7201852396

# Submission

In [ ]:
X_train, y_train = train_data[features], train_data[target]
X_test = test_data[features]
model = RandomForestRegressor(n_estimators=100, max_depth=10, random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
y_pred = np.round_(y_pred)
print(y_pred)

output = pd.DataFrame({'ID': test_data.flightid, 'solution': y_pred})

output.to_csv('data/submission.csv', index=False)

[ 7057.  3587.  3662.  3587.  3662.  7774.  2912.  2912.  4961.  7776.
  7065.  5085.  3247.  2912.  2912.  8012.  5085.  2912.  4766.  2912.
  4961.  4961.  3662.  7774.  2912.  2912.  4766.  5085.  5085.  4916.
  2912. 10282.  7774.  2912.  2912.  4961.  2912.  2912.  2912.  3662.
  4916.  2912.  2912.  7826.  4961.  2912.  5190.  7774.  5055.  4961.
  2912.  3587.  7714.  4766.  4961.  2912.  3247.  7065.  3662.  6775.
 10282.  4961.  2912.  6775.  5055.  5111.  3784.  4961.  3662.  2912.
  2912.  9893.  3662.  3756.  4961.  4583.  2912.  2912.  2912.  4916.
  9772.  2912.  7774.  2912.  5085.  2912.  6949.  3587.  2912.  2912.
  2912.  3587. 10306.  2912.  2912.  4961.  3662.  2912.  4916.  2912.]