In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
bimtra_df = pd.read_csv('data/bimtra_df.csv')
esperas_df = pd.read_csv('data/esperas_df.csv')
metaf_df = pd.read_csv('data/metaf_df.csv')
metar_df = pd.read_csv('data/metar_df.csv')
satelite_df = pd.read_csv('data/satelite_df.csv')
tc_prev_df = pd.read_csv('data/tc-prev_df.csv')
tc_real_df = pd.read_csv('data/tc-real_df.csv')

In [3]:
bimtra_df['dt_arr'] = pd.to_datetime(bimtra_df['dt_arr'])
bimtra_df['dt_dep'] = pd.to_datetime(bimtra_df['dt_dep'])
esperas_df['hora'] = pd.to_datetime(esperas_df['hora'])
metaf_df['hora'] = pd.to_datetime(metaf_df['hora'])
metar_df['hora'] = pd.to_datetime(metar_df['hora'])
satelite_df['data'] = pd.to_datetime(satelite_df['data'])
tc_prev_df['hora'] = pd.to_datetime(tc_prev_df['hora'])
tc_real_df['hora'] = pd.to_datetime(tc_real_df['hora'])

In [4]:
display(bimtra_df.head(5))
display(esperas_df.head(5))
display(metaf_df.head(5))
display(metar_df.head(5))
display(satelite_df.head(5))
display(tc_prev_df.head(5))
display(tc_real_df.head(5))

,flightid,origem,destino,dt_dep,dt_arr
0,fcb2bf90345705318213ae1307c0f901,SBKP,SBRJ,1970-01-01 00:27:34.044297,1970-01-01 00:27:34.046760
1,c7c5c10716335b048f86d8c52fcba3f2,SBGR,SBRJ,1970-01-01 00:27:34.045021,1970-01-01 00:27:34.047173
2,3162de7203a972f071d5a48e8f0f4828,SBBR,SBRJ,1970-01-01 00:27:34.043212,1970-01-01 00:27:34.047825
3,8fcd243e9b9eebbe62ab145ce04b6ab5,SBKP,SBCF,1970-01-01 00:27:34.045120,1970-01-01 00:27:34.047701
4,504a62621cd231d6ab67e674ce538cd3,SBCF,SBFL,1970-01-01 00:27:34.045238,1970-01-01 00:27:34.050785

   esperas                       hora  aero
0        0 1970-01-01 00:27:34.041600  SBBR
1        0 1970-01-01 00:27:34.045200  SBBR
2        0 1970-01-01 00:27:34.048800  SBBR
3        0 1970-01-01 00:27:34.052400  SBBR
4        0 1970-01-01 00:27:34.056000  SBBR

,hora,metaf,aero
0,1970-01-01 00:27:39.657600,METAF SBBR 050000Z 05006KT CAVOK 18/04 Q1014=\n,SBBR
1,1970-01-01 00:27:39.661200,METAF SBBR 050100Z 01006KT CAVOK 17/05 Q1016=\n,SBBR
2,1970-01-01 00:27:39.664800,METAF SBBR 050200Z 35008KT CAVOK 17/05 Q1014=\n,SBBR
3,1970-01-01 00:27:39.668400,METAF SBBR 050300Z 34007KT CAVOK 16/05 Q1015=\n,SBBR
4,1970-01-01 00:27:39.672000,METAF SBBR 050400Z 34008KT CAVOK 16/05 Q1015=\n,SBBR

,hora,metar,aero
0,1970-01-01 00:27:34.041600,METAR SBBR 010000Z 07002KT CAVOK 21/08 Q1018=,SBBR
1,1970-01-01 00:27:34.045200,METAR SBBR 010100Z 10002KT CAVOK 20/09 Q1019=,SBBR
2,1970-01-01 00:27:34.048800,METAR SBBR 010200Z 00000KT CAVOK 16/09 Q1019=,SBBR
3,1970-01-01 00:27:34.052400,METAR SBBR 010300Z 27002KT CAVOK 16/09 Q1019=,SBBR
4,1970-01-01 00:27:34.056000,METAR SBBR 010400Z 00000KT CAVOK 14/09 Q1018=,SBBR

,data,path,tamanho
0,2022-06-01 01:00:00,http://satelite.cptec.inpe.br/repositoriogoes/...,1879673
1,2022-06-01 02:00:00,http://satelite.cptec.inpe.br/repositoriogoes/...,1877693
2,2022-06-01 03:00:00,http://satelite.cptec.inpe.br/repositoriogoes/...,1887299
3,2022-06-01 04:00:00,http://satelite.cptec.inpe.br/repositoriogoes/...,1890950
4,2022-06-01 05:00:00,http://satelite.cptec.inpe.br/repositoriogoes/...,1892776

                        hora  troca aero
0 1970-01-01 00:27:34.041600      0   BR
1 1970-01-01 00:27:34.045200      0   BR
2 1970-01-01 00:27:34.048800      0   BR
3 1970-01-01 00:27:34.052400      0   BR
4 1970-01-01 00:27:34.056000      0   BR

                        hora nova_cabeceira antiga_cabeceira aero
0 1970-01-01 00:27:34.092843             32               03   FL
1 1970-01-01 00:27:34.109470             18               12   RF
2 1970-01-01 00:27:34.110745             16               13   CF
3 1970-01-01 00:27:34.110758             15               26   GL
4 1970-01-01 00:27:34.110777             15               26   GL